# Compiled JavaScript files
dist/

# Node.js dependency directory
node_modules/

# Arquivos de upload da lib MULTER [DEPRECATED]
uploads/

# Credenciais
.env

# Logs do servidor em txt [DEPRECATED]
src/logs/